<h3>Reactive forms:</h3>
<form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">

    <input type="text" formControlName="nome" placeholder="Nome">
    <span *ngIf="cadastroForm.get('nome')?.errors && cadastroForm.get('nome')?.dirty">
        Insira um nome.
    </span>

    <input type="text" formControlName="sobrenome" placeholder="Sobrenome" maxlength="10">
    <span *ngIf="cadastroForm.get('sobrenome')?.errors && cadastroForm.get('sobrenome')?.dirty">
        Caracteres: {{ cadastroForm.get('sobrenome')?.errors?.['minlength']?.actualLength }}
        /
        {{ cadastroForm.get('sobrenome')?.errors?.['minlength']?.requiredLength }}
    </span>

    <button [disabled]="cadastroForm.invalid" type="submit">Cadastrar</button>

</form>

Valor do input: {{ cadastroForm.get('nome')?.value }}
<br />
Validação do campo: {{ cadastroForm.get('nome')?.errors | json }}