<hr />
<h3>Diretivas estruturais:</h3>

<!-- *ngIf -->
<button (click)="isShow = !isShow">{{ isShow ? 'Mostrar' : 'Esconder'}} </button>
<p *ngIf="isShow">Camaleão</p>

<div *ngIf="isShow; else elseBlock">Mostrando...</div>
<ng-template #elseBlock>Escondendo...</ng-template>

<ng-template [ngIf]="isShow">teste</ng-template>
<hr />

<!-- *ngFor -->
<ul>
    <li *ngFor="let element of rugbyStaterPack; index as i">
        {{ i + 1}} - {{ element }} <button (click)="deleteElement(i)">Deletar</button>
    </li>
</ul>
<hr />

<!-- *ngSwitch -->
<div [ngSwitch]="isShow">
    <p *ngSwitchCase="true">Olá =)</p>
    <p *ngSwitchCase="false">Oi. :(</p>
    <p *ngSwitchDefault>
        Default :|
    </p>
</div>
<hr />

<!-- [(ngModel)] -->
<input [(ngModel)]="name" />
<p>Nome: {{name}}</p>
<hr />

<!-- ng-template -->
<p>Lista de Items (ng-template): </p>
<ng-template ngFor let-item  [ngForOf]="items" let-i="index">
    <p> {{ i + 1}} -{{ item }} </p>
</ng-template>
<hr/>

<!-- ng-content -->
<ng-content select="app-header"></ng-content>