<p>{{ 'pipes works!' | uppercase }}</p>

<p> {{ date | date: 'dd/MM/yyyy' }} </p>

<div>
    <p>Sem JSON pipe:</p>
    <pre>{{objectTest}}</pre>
    <p>Copm JSON pipe:</p>
    <pre>{{objectTest | json}}</pre>
</div>