<h3>Data binding:</h3>

<!-- Interpolation -->
<p>Nome: {{ name }}</p>
<hr />

<!-- Property Binding -->
<button disabled="true">Propriedade nativa</button>
<br />
<button [disabled]="statusButton">Property Binding</button>
<hr />

<!-- Event Binding -->
<button (click)="sendAlert($event)">Receber boas vindas</button>
<hr />

<!-- Two-way binding -->
<!-- Necessário importar o FormModule no app.module.ts -->
<input [(ngModel)]="name">
{{ name }}