<h3>Template driven forms (formulário básico)</h3>
<form #formTeste="ngForm" (ngSubmit)="submitForm(formTeste)" ngNativeValidate>
    <label for="name">Nome:</label>
    <input type="text" name="name" #name="ngModel" ngModel required>
    <span *ngIf="name.invalid && (name.touched && name.dirty)">Nome inválido -</span>
    {{ name.value }}
    {{ name.valid }}
    {{ name.touched }}
    {{ name.dirty }}
    <br />

    <label for="gender">Sexo:</label>
    <input type="radio" name="gender" value="Masculino" ngModel>
    <input type="radio" name="gender" value="Feminino" ngModel>
    <br />

    Tecnologias:
    <input type="checkbox" name="angular" ngModel>
    <label for="angular">Angular</label>

    <input type="checkbox" name="vue" ngModel>
    <label for="vue">Vue</label>

    <input type="checkbox" name="react" ngModel>
    <label for="react">React</label>
    <br />

    <label for="turno">Turno:</label>
    <select name="turno" ngModel>
        <option value="">Selecione um turno</option>
        <option value="Matutino">Matutino</option>
        <option value="Vespertino">Vespertino</option>
        <option value="Noturno">Noturno</option>
        <!-- Iterando options: -->
        <!-- [ngValue] para passar um objeto completo e [value] para uma chave de objeto. -->
        <!-- <option *ngFor="let item of listComidas" [ngValue]="item">{{ item}}</option> -->
    </select>

    <button [disabled]="formTeste.invalid">Enviar informações</button>
</form>

<div>
    Valores do formulário: {{ formTeste.value | json }}
    Validação do formulário: {{ formTeste.valid }}
</div>