<!-- <p>Olá, {{ user }}.</p>
<p>Boas vindas ao {{ title }}!</p>

<hr />
<button (click)="addNumber()">Adicionar número</button>
{{ numero }}
<hr />

<app-data-biding></app-data-biding>
<app-diretivas>
    <app-header></app-header>
</app-diretivas>
<app-pipes></app-pipes>
<app-input [contador]="numero"></app-input>
<app-output (infoIssued)="setInfo($event)"></app-output>
<app-learning-services></app-learning-services>
<app-characters-hp></app-characters-hp> -->
<!-- <app-forms></app-forms> -->
<app-reactive-forms></app-reactive-forms>